
.card {
  margin-bottom: 5px;
  margin-right: 25px;
  transition: all .2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }

  &__info {
    height: 130px;
    width: 250px;

    h1 {
      color: #ffffff;
      font-size: 16px;
    }

    p {
      color: #ffffff;
      font-size: 12px;
      margin: 0 0 5px 0;
    }
  }

}

