.container {
  height: 100%;
  width: 100%;
  display: flex;

  &__main {
    width: 100%;
    margin-left: 170px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top, var(--main-page-gradient-2) 0, var(--main-page-gradient-1) 100%) no-repeat;
  }

}

@media screen and (max-width: 768px) {

  .container__main {
    margin-left: 120px;
  }
}


