:root {
  --bg-image: url('https://r1.ilikewallpaper.net/iphone-x-wallpapers/download/44566/anguished-iphone-x-wallpaper-ilikewallpaper_com.jpg');
  --logo: url('https://owu.com.ua/image/logo/Blue-Big-Bird-Final-Logo.png');
  --white-color: #f6fffa;
  --dark-blue-color: #040b28;
  --toggle-bgr: #ffffff;
  --nav-background: rgba(181, 203, 236, 0.27);
  --nav-gradiant-1: rgba(245, 246, 252, 0.52);
  --nav-gradiant-2: rgba(117, 19, 93, 0.73);
  --gradient-1: rgb(59, 173, 227, 1);
  --gradient-2: rgb(87, 111, 230, 1);
  --gradient-3: rgb(152, 68, 183, 1);
  --gradient-4: rgb(255, 53, 127, 1);
  --badge-bg: green;
  --main-page-gradient-1: #10b589;
  --main-page-gradient-2: #50cdea;
  --btn-color: #668ad8;
}

[data-theme="dark"] {
  --bg-image: url('https://cutewallpaper.org/28/cyberpunk-japanese-alley-wallpaper/5861734.jpg');
  --nav-background: rgba(34, 38, 44, 0.27);
  --nav-gradiant-1: rgba(79, 80, 84, 0.52);
  --nav-gradiant-2: rgba(39, 5, 11, 0.73);
  --gradient-1: rgb(24, 65, 81);
  --gradient-2: rgb(45, 60, 128);
  --gradient-3: rgb(86, 41, 104);
  --gradient-4: rgb(49, 13, 27);
  --badge-bg: #020080;
  --main-page-gradient-1: #172742;
  --main-page-gradient-2: #47524f;
  --btn-color: #12244c;
}
