.movie {
  &__container {
    width: 95%;
    margin: 0 auto;

    h1 {
      color: white;
    }
  }

  &__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;

    :global(.MuiPaginationItem-root) {
      background-color: white;

      &:hover {
        background-color: #9d9595;
      }
    }

    :global(.css-19xm0h7-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected) {
      background-color: #9d9595;

      &:hover {
        background-color: white;
      }
    }

  }
}

