.login {
  height: calc(100vh - 70px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    height: 40px;
    color: red;
    font-size: 35px;
  }

  form {
    height: 500px;
    width: 470px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    h1, p {
      color: white;
      text-align: center;
    }

    h1 {
      font-size: 35px;
      margin: 0;
    }

    a {
      font-size: 22px;
      color: #c00c25;
    }

    p {
      font-size: 22px;
    }

    .btn {
      color: white;
      font-size: 24px;
      font-weight: bold;
      width: 190px;
      height: 50px;
      padding: 10px 25px;
      border: 2px solid #ffffff;
      font-family: 'Lato', sans-serif;
      background: transparent;
      cursor: pointer;
      transition: all 0.3s ease;
      position: relative;
      display: inline-block;

    }


    .input {
      position: relative;
      color: white;

      &__label {
        font-size: 25px;
        position: absolute;
        left: 0;
        top: 0;
        padding: 10px 7px;
        white-space: nowrap;
        transform: translate(0, 0);
        transform-origin: 0 0;
        transition: transform 120ms ease-in;
        font-weight: bold;
        line-height: 1.2;
      }

      &__field {
        height: 50px;
        width: 300px;
        font-size: 20px;
        box-sizing: border-box;
        display: block;
        border: 3px solid currentColor;
        padding: 10px 7px;
        color: currentColor;
        background: transparent;
        border-radius: var(--size-radius);

        &:focus,
        &:not(:placeholder-shown) {
          & + .input__label {
            transform: translate(.25rem, -65%) scale(.8);
          }
        }
      }
    }
  }
}
